* {
    padding: 0;
    margin: 0;
}

.cute-notif {
    width: 404px;
    height: 56px;
    border: 1px solid #CCC;
    border-radius: 14px;
    transition: height 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    perspective: 600px; 
}

.top-frame {
    display: flex;
    align-items: center;
}

.cute-notif.expanded .top-frame {
    align-items: flex-start;
}


.bell-icon-frame {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    background-color: #F2F4F7;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.cute-notif.expanded .bell-icon-frame {
    transform: scale(0);
    width: 0;
    margin-right: 0px;
}

.cute-notif.expanded .message {
    opacity: 0;
    height: 0;
}

.cute-notif .right-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.text-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    gap: 4px;
}

.cute-notif .title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.cute-notif .message {
    font-size: 16px;
    color: #555;
    text-align: left;
    transition: all 0.4s ease-in-out;
}

.plus-icon {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease-in-out;
}

.cute-notif.expanded .plus-icon {
    transform: rotate(45deg);
    top: 0;
}

.notif {
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    font-size: 14px;
    padding: 12px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 12px;

    position: relative;
    opacity: 0;
    transform: translateY(-10px) rotateX(45deg);
    transition: all 0.4s ease-in-out;
}

.cute-notif.expanded .notif {
    opacity: 1;
    transform: translateY(0) rotateY(0deg);
}

.notif .status {
    font-size: 14px;
}

.notif .time {
    color: #808080;
    font-size: 14px; 
}

.notif .top-frame {
    display: flex;
    justify-content: space-between;
}

.notif span {
    color: #000;
    text-align: left;
}

.notif .status-message {
    color: #000;
    text-align: left;
}

.notif button {
    background-color: #175CE5;
    color: white;
    font-size: 12px;
    height: 34px;
    border: none;
    border-radius: 5px; 
}

.status.canceled {
    color: #FD334E;
}

.status.disputed {
    color: #800080;
}

.notification-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform-style: preserve-3d;
}